<h1>Editing Blog</h1>
<%= form_for @blog,:url => deck_feature_blog_path do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
