<header class="noah-page-header container">
  <h1>Noah#7</h1>
  <p class="sub-title">Save your memory before end of the world</p>
  <hr>
</header>

<div class="container login-block"> 

  <%= form_tag('', :id => "auth-form") do %>
        <%= text_field_tag('oracle', session[:oracle], :placeholder => 'you can guess') %> 
        <%= submit_tag("Log In", :id => "login-button", :class => "btn btn-success") %>
  <% end %>

  <% if flash[:error_message] %>
    <div id="error-message" class="alert alert-error">
      <%= flash[:error_message] %>
    </div>
  <% end %>
</div>
   

