<header class="noah-page-header container">
  <h1>Noah#7</h1>
  <p class="sub-title">Save your memory before end of the world</p>

  <p class="welcome-user">
    <%= "Welcome aboard: " + @current_user.name %>
  </p>
  <hr>
</header>

<section class="aboard container">
<% @decks.each do |c| %>
  <div class="deck-item">
    <%= link_to c.name, deck_path(c.id) %>
  </div>
<% end %>    

