<section class="aboard container">

<% @decks.each do |c| %>
  <div class="deck-item">
    <a href="<%= deck_path(c.id) %>">
      <img src="/assets/wheel.png">
      <%= c.name %>
    </a>
  </div>
<% end %>

<div class="ark">
  <img src="/assets/ark.jpg">
</div>
</section>  


