@import 'compass/css3';
body{ font: normal normal 62.5% verdana, "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3"}
a {text-decoration: none; color: #aaa;}
p {line-height: 1.8em; margin-bottom: 0;}
.hide {
    display: none;
}
.container {
    font-size: 1.4em;
    width: 1000px;
    margin: 0 auto;
}


