body, ul, li, h1,h3, h4, p {margin: 0px;}
ul{list-style-type: none;}
.container {width: 1000px; margin: 0 auto;}

header {color: #aaa; position: relative;}
header h1{padding: 20px 0;}
header .sub-title{position: absolute; top: 30px; left: 110px; margin-left: 20px;}

header.noah-page-header .welcome-user{position: absolute; right: 0px; bottom: 0px;}
section.aboard .deck-item a{float: left; margin: 10px; color: black; text-decoration: none;}

header.deck-page-header .deck-header{position: absolute; right: 0px; bottom: 0px; overflow: hidden;}
header.deck-page-header .deck-header .deck-name{font-size: 18px; color: #aaa; font-weight: bold; float: left;}
header.deck-page-header .deck-header ul.feature-list{overflow: hidden;}
header.deck-page-header .deck-header ul.feature-list li{float: left;}
header.deck-page-header .deck-header ul.feature-list li a{
  margin-right: 10px; 
  padding-right: 10px; 
  color: black; 
  text-decoration: none;
  color: #aaa;
  border-right: 1px solid #aaa; 
}

section.deck-detail .blog-create{overflow: hidden; padding-bottom: 15px;}
section.deck-detail .blog-create h3 a{float: right; color: #aaa; font-size: 14px;}
section.deck-detail .blog-list .blog-item {
  position: relative;
  padding: 15px 0; 
  border-bottom: 1px solid #aaa;
}
section.deck-detail .blog-list .blog-item .blog-date{
  padding-bottom: 8px;
}
section.deck-detail .blog-list .blog-item .blog-date{
  padding-left: 10px;
  font-size: 10px;
  color: #aaa;
  display: inline-block;
}
section.deck-detail .blog-list .blog-item .blog-content{
  margin: 6px;
}
section.deck-detail .blog-list .blog-item .delete-link{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
section.deck-detail .blog-list .blog-item .delete-link a{
  text-decoration: none;
  color: #aaa;
}