body, ul, li, h1,h3, h4, p {margin: 0px; padding: 0px;}
ul{list-style-type: none;}
.container {width: 1000px; margin: 0 auto;}

header {color: #aaa; position: relative;}
header h1{padding: 20px 0;}
header .sub-title{position: absolute; top: 30px; left: 110px; margin-left: 20px;}

header .welcome-user{position: absolute; right: 0px; top: 30px;}
header .operates{position: absolute; right: 0px; bottom: 0px; padding-bottom: 5px;}
header .operates a{margin-left: 4px;} 
header .operates a.logout{color: #aaa; text-decoration: none;} 
header .operates a.back{ color: #aaa; text-decoration: none;}

section.aboard .deck-item a{float: left; margin: 10px; color: black; text-decoration: none;}

section.deck-detail .deck-header{position: relative;right: 0px; top: 0px; overflow: hidden; padding-bottom: 25px;}
section.deck-detail .deck-header .deck-name{ color: black; float: left; padding-right: 10px;}
section.deck-detail .deck-header ul.feature-list{overflow: hidden;}
section.deck-detail .deck-header ul.feature-list li{float: left;}
section.deck-detail .deck-header ul.feature-list li a{
  margin-left: 10px; 
  padding-left: 10px; 
  color: black; 
  text-decoration: none;
  color: #aaa;
  border-left: 1px solid #aaa; 
}

section.deck-detail .blog-create{overflow: hidden; padding-bottom: 15px;}
section.deck-detail .blog-create h3 a{float: right; color: #aaa; font-size: 14px;}

section.deck-detail .blog-list {
    border-left: solid 1px #DDD;
    padding-left: 49px;
    margin-bottom: 60px;
}
section.deck-detail .blog-list .blog-item {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #aaa;
  max-width: 950px;
}

section.deck-detail .blog-list .blog-item .blog-title{
   font-size: 20px;
   line-height: 50px;
}
section.deck-detail .blog-list .blog-item img{
   max-width: 700px;
}
section.deck-detail .blog-list .blog-item .blog-date{
    line-height: 44px;
    font-size: 10px;
    color: #AAA;
    display: block;
    position: absolute;
    left: -75px;
    background: #EFEFEF;
    border-radius: 36px;
    height: 50px;
    width: 50px;
    top: -2px;
}
section.deck-detail .blog-list .blog-item .blog-content{
  margin: 6px;
}
section.deck-detail .blog-list .blog-item .delete-link{
  position: absolute;
  bottom: 0px;
  right: 0px;
}
section.deck-detail .blog-list .blog-item .delete-link a{
  text-decoration: none;
  color: #aaa;
}

section.deck-detail .time-panel{
  width: 1000px;
  margin: 0 auto;
  height: 75px;
  position: fixed;
  bottom: 3px;
  background-color: #ddd;
}
section.deck-detail .time-panel img.time-icon{
  height: 20px;
}