@import 'base';
@font-face {
    font-family: 'entypo';
    src: url('Entypo/entypo.eot');
    src: url('Entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('Entypo/entypo.woff') format('woff'),
         url('Entypo/entypo.ttf') format('truetype'),
         url('Entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

header {
    color: #aaa;
    position: relative;

    h1{
        font-size: 2.3em;
        padding: 20px 0;
    }
    .sub-title{
        position: absolute;
        top: 35px;
        left: 110px;
        margin-left: 20px;
    }
    .welcome-user{
        position: absolute;
        right: 60px;
        top: 30px;
        border-right: 1px solid #CCC;
        padding-right: 10px;
    }
    .logout {
        position: absolute;
        right:10px;
        top:34px;
    }
}

section.aboard{
  margin-top: 40px;

  .deck-item{
  margin: 20px;
  position: relative;

    a { 
      color: black; 
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      position: absolute;
      top: 40px;
    }

    img {
      height: 80px;
    }
  }

  .ark {
    position: absolute;
    bottom: 10px;
    right: 10px;
  } 
}

section.deck-detail{
     .sub-header{
        position: relative;
        border-bottom: 1px solid #eee;
        margin: 30px 0 10px 0;
        padding: 10px;
        .operates {
            position: absolute;
            right: 0;
            top: 0px;
            a {
              margin-left: 10px;
              &.logout {
                color: #aaa;
                text-decoration: none;
              }
              &.back{
                  color: #aaa;
                  text-decoration: none;
              }
            }
        }

     }
}

section.deck-detail .sub-header{
    .deck-contents {
        .deck-name{
            color: black;
            display: inline-block;
            padding-right: 10px;
            font-size: 1.2em;
            font-weight: bold;
        }
        ul.feature-list{
            display:inline-block;
            li {
                &.current{
                    a {
                      color: black;
                    }
                }
                display: inline-block;
                a {
                  margin-left: 10px;
                  padding: 4px 5px;
                  color: black;
                  text-decoration: none;
                  color: #aaa;
                  border: 1px solid #aaa;
                }
            }
        }
    }
}

section.deck-detail .blog-create{
    overflow: hidden;
    padding: 0 0 30px 0;
    a {
        float: right;
        color: #aaa;
        text-decoration: none;
        font-family: entypo;
        font-size: 14px;
        &:first-letter {
            font-size: 25px;
        }
    }
}

section.deck-detail .blog-list {
    border-left: solid 1px #DDD;
    padding-left: 49px;
    margin-bottom: 60px;
    .blog-item {
      position: relative;
      max-width: 950px;
      margin-bottom: 50px;
    }
    .blog-item{
       .operation {
           .edit-icon, .delete, .cancel {
                display: inline-block;
                font-family: entypo;
                font-size: 25px;
                margin-left: 5px;
           }
           .cancel {
              display: none;
           }
       }
       &.edit {
        .blog-title {
            display: none;
        }
        .blog-content {
            display: none;
        }
        .edit-form {
            display: block;
        }
        .operation{
            .cancel {
                display : inline-block;
            }
            .edit-icon {
                display: none;
            }
        }

       }
       &.fade {
        opacity: 0.4;
        .blog-date{
            opacity: 0.9;
            display:block;
            }
        .operation{
            display: none;
        }
       }
       .blog-title{
           display: block;
           font-size: 24px;
           line-height: 50px;
        }
        .blog-content{
          display: block;
          margin: 6px;
        }
        .edit-form {
           display: none;
        }
        img {
            max-width: 700px;
        }
        .blog-date{
            line-height: 44px;
            font-size: 9px;
            color: #AAA;
            display: block;
            position: absolute;
            left: -75px;
            background: #EFEFEF;
            border-radius: 36px;
            height: 50px;
            width: 50px;
            top: 1px;
        }
        .operation{
          position: absolute;
          top: 20px;
          right: 30px;
          a {
            text-decoration: none;
            color: #aaa;
          }
        }


    }
}

section.deck-detail .time-panel{
  width: 100%;
  position: fixed;
  bottom: 0px;
  .horizon-timeline {
      width: 1000px;
      height: 80px;
      background-color: #ddd;
    }
  .mouse-detector{
      background-color: #eee;
      width: 100%;
      height: 5px;
    }
}

.header-block{
  background-color: white;
  height: 0px;  
}
.footer-block{
  height: 350px;
}
#blog_title {
    display: inline-block;
    line-height: 20px;
    margin: 10px 0px 10px 10px;
}
input[value=submit].button {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    padding:0 10px;
}
