<div class="sub-header">
  <div class="deck-contents">
    <% if @current_deck != nil%>
      <p class="deck-name">
        <%= @current_deck.name %>
      </p>

      <% if @features != nil%>
        <ul class="feature-list">
          <% @features.each do |c|%>
            <li>
              <%= link_to c.name, deck_feature_path(@current_deck.id, c.id) %>
            </li>
          <% end %>
        </ul>
      <% end %> 
    <% end %>
  </div> 

  <div class="operates">
    <a href="/noah/logout" class="logout">logout</a>
    <a href="/noah/show" class="back">back</a>
  </div>
</div>
